<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:insert="~{/fragments/head :: head(pageTitle='Details')}"></head>

<body>
<div class="container-fluid p-3">
  <nav th:replace="~{/fragments/navbar :: navbar(current='Details')}"></nav>
</div>

<div class="container p-3 mt-5">
  <h2>Dettaglio della foto</h2>
  <div class="card w-50 h-50">
    <img th:src="@{/files/cover/{id}(id=${photo.id})}" class=" w-50 h-50 img-fluid" alt="Immagine">
    <div class="card-body">
      <p th:text="|Title: ${photo.title}|" class="card-text"></p>
      <p th:text="|Description: ${photo.description}|" class="card-text"></p>

      <h5>Categories:</h5>
      <ul>
        <li th:each="category : ${categories}" th:text="${category.name}"></li>
      </ul>




      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" th:checked="${visibility}" th:value="${visibility}" />
        <label class="form-check-label">Visibile</label>
      </div>
      <a th:href="@{'/photos/visibility/' + ${photo.id}} " class="btn btn-primary">Inverti visibilità</a>













    </div>
  </div>
</div>

<th:block th:replace="fragments/return-home :: return-home"></th:block>

</body>
</html>